<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Kata</title>
   
</head>
<body class="container mt-4">

    <div class="row">
       
        <!-- API Documentation Section -->
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>API Documentation</h2>
                <ul>
                    <li><strong>Scan Item:</strong> POST /scan</li>
                    <li><strong>Get Scanned Items:</strong> GET /item_list</li>
                    <li><strong>Get Total Price:</strong> GET /total</li>
                    <li><strong>Reset Checkout:</strong> POST /reset</li>
                </ul>
               
                <div class="postman-run-button"
                    data-postman-action="collection/fork"
                    data-postman-visibility="public"
                    data-postman-var-1="32061036-4b71fc39-ee17-472a-9b4b-c5d08359b481"
                    data-postman-collection-url="entityId=32061036-4b71fc39-ee17-472a-9b4b-c5d08359b481&entityType=collection&workspaceId=9c78a232-b120-4e73-aafc-12a78a809445"></div>
                <script type="text/javascript">
                    (function (p,o,s,t,m,a,n) {
                        !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
                        !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
                        (n = o.createElement("script")),
                        (n.id = s+t), (n.async = 1), (n.src = m), n
                        ));
                    }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
                </script>
               
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery (needed for some Bootstrap features) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    
   
</body>
</html>
